@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  max-width: 100vw;
  /* HAPUS overflow-x: hidden dan overflow-x: clip di sini */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Hanya jalankan di perangkat Desktop (pointer: fine) */
@media (pointer: fine) {
  
  /* 1. KURSOR DEFAULT (Biasa) */
  body, html, * {
    cursor: url('/cursorneon1.png') 0 0, auto !important;
  }

  /* 2. KURSOR POINTER (Saat hover tombol, link, dll) */
  /* Koordinat angka bisa disesuaikan dengan ujung jari kursor pointer-mu */
  a, 
  button, 
  [role="button"], 
  input[type="submit"], 
  input[type="button"] {
    cursor: url('/cursorneon2.png') 0 0, pointer !important;
  }

  /* Kunci Fix: Memaksa elemen di dalam tombol (seperti ikon SVG atau span teks) 
     agar tetap menggunakan kursor pointer, bukan kembali ke kursor biasa */
  a *, 
  button *, 
  [role="button"] * {
    cursor: inherit !important;
  }

  @font-face {
  font-family: 'Craze';
  src: url('/fonts/craze.ttf') format('truetype'); /* Sesuaikan nama file .ttf atau .otf */
  font-weight: normal;
  font-style: normal;
  }

    @font-face {
  font-family: 'Alpenkreuzer';
  src: url('/fonts/alpenkreuzer.ttf') format('truetype'); /* Sesuaikan nama file .ttf atau .otf */
  font-weight: normal;
  font-style: normal;
  }

      @font-face {
  font-family: 'Boldstorm';
  src: url('/fonts/boldstorm.otf') format('truetype'); /* Sesuaikan nama file .ttf atau .otf */
  font-weight: normal;
  font-style: normal;
  }

        @font-face {
  font-family: 'Chunky';
  src: url('/fonts/chunky.ttf') format('truetype'); /* Sesuaikan nama file .ttf atau .otf */
  font-weight: normal;
  font-style: normal;
  }
  
}